body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.formBox {
    width: 25rem;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    background-color: #ffffff;

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    input,
    button {
        height: 35px;
        border-radius: 0.5rem;
        padding: 0 1rem;
    }

    input {
        width: 320px;
        outline: none;
        background-color: #ddd;
    }

    button {
        width: 150px;
        background-color: #aaa;
        cursor: pointer;

        &:hover {
            background-color: #888;
            transition: 300ms ease;
        }

        &:active {
            scale: 0.95;
        }
    }
}